* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

hr {
    color: lightgray;
}

fieldset {
    margin-bottom: 10px;
}


#svg-text {
    position: absolute;
    top: -14px;
}

#svg-div {
    position: relative;
}

svg {
    font-size: 2em;
    stroke-width: 1px;
    overflow: visible;
}

svg text {
    font-size: inherit;
    fill: red;
}

.invisible {
    display: none;
}

.centroid {
    stroke: green;
}

.incircle {
    stroke: orange;
    fill: none;
}

.circumcircle {
    stroke: purple;
    fill: none;
}

#grid {
    display: grid;
    gap: 10px;
}

#input-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

path {
    stroke: black;
    fill: white;
    stroke-width: inherit;
    stroke-linejoin: miter;
}

label {
    grid-column: 1;
}

input {
    grid-column: 2;
}

button {
    grid-column: 1
}

#output {
    border: 1px solid grey;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    overflow: auto;
}

@media only screen and (max-width: 500px) {
    #grid {
        grid-template-columns: min-content min-content;
    }

    #output {
        grid-column: 1 / 3;
        min-height: 100px;
    }
}

@media only screen and (min-width: 501px) {
    #grid {
        grid-template-columns: min-content min-content 1fr;
    }

    #output {
        align-self: center;
        grid-column: 3 / 4;

    }
}
